<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LEGO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Model2 주소 매핑 -->
  <!-- 한가지 명사형태(동작)로 구분 -->
  
  <!--
  	servlet : 서블릿 객체의 정보를 저장하는 태그
  	servlet-name : 해당 서블릿의 이름
  	servlet-class : 해당 서블릿의 위치(패키지 명 + 클래스 명)
   
   	servlet-mapping : 서블릿과 url을 매핑(연결)하는 태그
   	servlet-name :
   	url-pattern : 해당 주소 URL 접근// http://localhost:9090/프로젝트명/주소URL
   -->
  
  <!-- 디비 연결 정보 설정 -->
  <resource-ref>
  	<description>lego</description>
  	<res-ref-name>jdbc/lego</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <!-- /디비 연결 정보 설정 -->
  
  <!-- 회원관리 -->
  <servlet>
  	<servlet-name>UserFrontController</servlet-name>
  	<servlet-class>net.user.action.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserFrontController</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <!-- 회원관리 -->
  
  <!-- 상품관리 -->
  <servlet>
  	<servlet-name>GoodsFrontController</servlet-name>
  	<servlet-class>net.goods.action.GoodsFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoodsFrontController</servlet-name>
  	<url-pattern>*.go</url-pattern>
  </servlet-mapping>
  <!-- 상품관리 -->
</web-app>